{% extends 'withlogin.html' %}
{% block title%}About Us{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center">About Us</h1>
    <p>Elibary Management is a state-of-the-art library management system that helps users easily access and manage their library resources. Our mission is to make it easy for people to discover, borrow, and return books, as well as manage their library accounts.</p>
    <p>We offer a wide range of books in various categories including fiction, non-fiction, science, technology, and more. Our library is open to the public during regular business hours and is staffed by a team of dedicated professionals who are always happy to assist you.</p>
    <p>In addition to traditional books, we also offer e-books, video, and other digital resources. Our online platform allows users to search, borrow, and return books from the comfort of their own homes.</p>
    <p>We constantly strive to improve our services and welcome feedback from our users. If you have any questions or suggestions, please don't hesitate to contact us.</p>
</div>
{% endblock %}
