{% extends 'admin_layout.html' %}
{% block title%}Add Book{% endblock %}
{% block content %}
<div class="container" style="max-width: 800px;">
     <form class='text-center mt-5' action='/add/books' method='POST' enctype="multipart/form-data">
       {% for message in get_flashed_messages() %}
         <div class='alert alert-warning'>
           <button type='button' class='close' data-dismiss='alert'>&times;</button>
           {{message}}
         </div>
       {% endfor %}
     <h1 class='display-4 text-center'>Add books</h1><br>
     <div class="input-group mb-3">
          <div class="input-group-prepend">
               <span class="input-group-text"><i class="fa fa-book"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Title" name="title" required autofocus>
     </div>
     <div class="input-group mb-3">
          <div class="input-group-prepend">
               <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" class="form-control" name='author' placeholder="Author" required>
     </div>
     <div class="input-group mb-3">
          <div class="input-group-prepend">
               <span class="input-group-text"><i class="fa fa-tags"></i></span>
          </div>
          <select name="category_id" class="form-control" required>
               {% for category in categories %}
                    <option value="{{ category[1] }}">{{ category[1] }}</option>
               {% endfor %}
          </select>
          </div>
          <div class="input-group mb-3">
               <div class="input-group-prepend">
               <span class="input-group-text"><i class="fa fa-file"></i></span>
               </div>
               <button  onclick="document.getElementById('file1').click()" class="form-control">Upload Thumbnail</button>
               <input type="file" name="file1" id="file1" class="form-control" required style="display: none;">
               </div>
<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text"><i class="fa fa-bookmark"></i></span>
</div>
<select name="booktype" class="form-control" required>
     {% for book_type in book_types %}
     <option value="{{ book_type[1] }}">{{ book_type[1] }}</option>
     {% endfor %}
     </select>
     </div>
     <div class="input-group mb-3">
     <div class="input-group-prepend">
     <span class="input-group-text"><i class="fa fa-building"></i></span>
     </div>
     <input type="text" class="form-control" name='publisher' placeholder="Publisher" required>
     </div>
     <textarea name="description" class="form-control mb-3" cols="30" rows="2" required
               placeholder="book Description"></textarea>
     <div class="input-group mb-3">
     <div class="input-group-prepend">
     <span class="input-group-text"><i class="fa fa-file"></i></span>
     </div>
     <button  onclick="document.getElementById('file').click()" class="form-control">Upload Book</button>
     <input type="file" name="file" id="file" class="form-control" required style="display: none;">
     </div>
     <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-download"></i></span>
          </div>
          <select name="download_permission" class="form-control" required>
              <option value="1" {% if book[7] %}selected{% endif %}>Allowed</option>
              <option value="0" {% if
      not book[7] %}selected{% endif %}>Not Allowed</option>
      </select>
      
      </div>
     <button class='btn btn-lg btn-primary btn-block' type='submit'>Submit</button>     
</form>   
</div>      
     {% endblock %}