{% extends 'withoutlogin.html' %}
{% block title%}Login{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center display-4">Admin Panel</h1>
    <p class="text-center lead">Log To Admin</p>
    <hr class="my-4">
    <form action="/admin" method="POST">
    {% for message in get_flashed_messages() %}
    <div class='alert alert-warning'>
        <button type='button' class='close' data-dismiss='alert'>&times;</button>
        {{message}}
    </div>
    {% endfor %}
    <div class="form-group">
        <label for="email">Email or username:</label>
        <input type="text" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <div class="input-group">
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-eye-slash password-toggle" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>

<script>
$(document).ready(function(){
    $('.password-toggle').click(function(){
        var input = $('#password');
        if (input.attr("type") === "password") {
            input.attr("type", "text");
            $(this).removeClass('fa-eye-slash');
            $(this).addClass('fa-eye');
        } else {
            input.attr("type", "password");
            $(this).removeClass('fa-eye');
            $(this).addClass('fa-eye-slash');
        }
    });
});
</script>


{% endblock %}