{% if current_user[5] == 1 %}
    {% extends 'admin_layout.html' %}
{% else %}
    {% extends 'withlogin.html' %}
{% endif %}
{% block title%}Change Password{% endblock %}
{% block content %}
<div class="container" style="max-width: 800px;">
    <form class='text-center mt-5' action='/add/books' method='POST' enctype="multipart/form-data">
      {% for message in get_flashed_messages() %}
        <div class='alert alert-warning'>
          <button type='button' class='close' data-dismiss='alert'>&times;</button>
          {{message}}
        </div>
      {% endfor %}
     <h1 class='display-6 text-center'>Change Password</h1><br>
     <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Old Password" name='password'  minlength="8" id="pwd">
        <div class='input-group-append'>
            <div class='input-group-text'>
                <div class='custom-control custom-switch'>
                    <input type='checkbox' class='custom-control-input' id='showpwd' name="password" >
                    <label class='custom-control-label' for='showpwd'></label>
                </div>
            </div>
        </div>
   </div>
   <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-lock"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="New Password" name='new_password'  minlength="8" id="pwd">
    <div class='input-group-append'>
        <div class='input-group-text'>
            <div class='custom-control custom-switch'>
                <input type='checkbox' class='custom-control-input' id='showpwd1' name="password1" >
                <label class='custom-control-label' for='showpwd1'></label>
            </div>
        </div>
    </div>
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-lock"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="Confirm Password" name='confirm_password'  minlength="8" id="pwd">
    <div class='input-group-append'>
        <div class='input-group-text'>
            <div class='custom-control custom-switch'>
                <input type='checkbox' class='custom-control-input' id='showpwd2' name="password2" >
                <label class='custom-control-label' for='showpwd2'></label>
            </div>
        </div>
    </div>
</div>
     <button class='btn btn-lg btn-primary btn-block' type='submit'>Update</button>
 </form>
 </div>
{% endblock %}