{% extends 'admin_layout.html' %}
{% block title%}Edit Video{% endblock %}

{% block content %}
<div class="container" style="max-width: 800px;">
     <form class='text-center mt-5' action='/add/video' method='POST' enctype="multipart/form-data">
       {% for message in get_flashed_messages() %}
         <div class='alert alert-warning'>
           <button type='button' class='close' data-dismiss='alert'>&times;</button>
           {{message}}
         </div>
       {% endfor %}
    <h1 class='display-4 text-center'>Edit Video</h1><br>
    <div class="input-group mb-3">
         <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-video-camera"></i></span>
         </div>
         <input type="text" class="form-control" placeholder="Title" name="title" value="{{ video[1] }}" required autofocus>
    </div>
    <div class="input-group mb-3">
     <div class="input-group-prepend">
     <span class="input-group-text"><i class="fa fa-file"></i></span>
     </div>
     <input type="file" name="file1" id="file1" class="form-control" required>
     </div>
    <div class="input-group mb-3">
         <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-tags"></i></span>
         </div>
         <select name="category_id" class="form-control" required>
              {% for category in categories %}
                   <option value="{{ category[0] }}" {% if category[0] == video[3] %} selected {% endif %}>{{ category[1] }}</option>
              {% endfor %}
        </select>
    </div>
    <textarea name="description" class="form-control mb-3" cols="30" rows="2" required placeholder="Video Description">{{ video[4] }}</textarea>
    <div class="input-group mb-3">
     <div class="input-group-prepend">
         <span class="input-group-text"><i class="fa fa-download"></i></span>
     </div>
     <select name="download_permission" class="form-control" required>
         <option value="1" {% if video[5] %}selected{% endif %}>Allowed</option>
         <option value="0" {% if
 not video[5] %}selected{% endif %}>Not Allowed</option>
 </select>
 
 </div>
    <button class='btn btn-lg btn-primary id=up btn-block' id="up" type='submit'>Update</button>
    <style>
    
     @media (max-width: 576px) {
   #up{
     transform: translateY(50px)
   }
 }
 
 </style>
</form>
</div>
{% endblock %}