{% extends 'admin_layout.html' %}
{% block title%}Remove books{% endblock %}
{% block content %} 
<form class='text-center mt-5 container' style="width: 60%;" action='/remove/books' method='POST'>
     {% for message in get_flashed_messages() %}
     <div class='alert alert-warning'>
         <button type='button' class='close' data-dismiss='alert'>&times;</button>
         {{message}}
     </div>
     {% endfor %}
     <h1 class='display-4 text-center'>Remove books</h1><br>
     <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-books"></i></span>
          </div>
          <select name="books" class="form-control" required autofocus placeholder='Select'>
              {% for books in books %}
              <option value='{{ books.id }}' name='books'>{{ books.name }} by {{ books.author }}</option>
              {% endfor %}
          </select>
      </div>
     <button class='btn btn-lg btn-primary btn-block' type='submit'>Submit</button>
 </form>
{% endblock %}